@import url(./partials.css);

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: var(--secondary-color);
}

.cyan-color {
  color: var(--primary-color);
}

.preloader {
  background: #21242d url(../assets/loader.gif) no-repeat center center;
  background-size: 30%;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
}

/*==================================Banner Start==================================*/

.banner {
  background-image: linear-gradient(#04091eb3, #04091eb3),
    url(../assets/banner-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-1 {
  text-align: center;
  color: white;
}

.helloworld {
  color: var(--primary-color);
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 0;
  font-size: 1.4rem;
}

.name {
  font-weight: 700;
  font-size: 5rem;
}

.desgn {
  line-height: 0;
  letter-spacing: 2px;
  opacity: 75%;
  font-size: 1rem;
}

.about-me-btn {
  padding: 12px 20px;
  margin: 30px;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 0;
  border-width: 2px;
}

.s-m-icons {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, -50%);
}

.s-m-icons a {
  padding: 1rem;
  font-size: 1.5rem;
}

.add-icons{
  margin-left: 10px;
}
@media (max-width: 576px) {
  .helloworld {
    font-size: 1rem;
  }

  .name {
    font-size: 3rem;
  }

  .desgn {
    font-size: 0.8rem;
  }

  .about-me-btn {
    font-size: 0.8rem;
  }

  .s-m-icons a {
    padding: 0.5rem;
    font-size: 1rem;
  }
}

@media (min-width: 577px) and (max-width: 992px) {
  .helloworld {
    font-size: 1.2rem;
  }

  .name {
    font-size: 4rem;
  }

  .desgn {
    font-size: 0.9rem;
  }

  .about-me-btn {
    font-size: 0.9rem;
  }

  .s-m-icons a {
    padding: 0rem 1rem;
    font-size: 1rem;
  }
}

/*==================================Banner Start==================================*/

/*==================================featured Projects Start==================================*/

.featured-projects-titles {
  padding-top: 80px;
  text-align: center;
}

.fp-title {
  letter-spacing: 2px;
  color: var(--primary-color);
  font-weight: var(--primary-header-text-weight);
  font-size: var(--primary-header-text-size);
}

.fp-description {
  margin-top: 10px;
  font-size: var(--secondary-header-text-size);
  font-weight: var(--secondary-header-text-weight);
}


@media (max-width: 576px) {
  .fp-title {
    font-size: 1.3rem;
  }

  .fp-description {
    font-size: 1rem;
  }

  .fp-card {
    margin: 5px;
  }

}

@media (min-width: 577px) and (max-width: 992px) {
  .fp-card {
    margin: 5px;
  }
}

/*==================================featured Projects End==================================*/

/*==================================About Start==================================*/

.about {
  padding: 80px 0px;
}

.about-titles {
  text-align: center;
}

.a-title {
  color: var(--primary-color);
  letter-spacing: 2px;
  font-size: var(--primary-header-text-size);
  font-weight: var(--primary-header-text-weight);
}

.a-description {
  margin-top: 10px;
  font-weight: var(--secondary-header-text-weight);
  font-size: var(--secondary-header-text-size);
}

.profile-pic {
  width: 40%;
}

.about-titles p {
  margin: 10px 0px;
}

.about-l {
  padding: 15px;
}

.ap-intro {
  text-align: justify;
  margin: 20px 0px;
}

.about-r {
  padding: 15px;
}

.progress-bar {
  background-color: var(--primary-color);
}

.about-secondary .text {
  letter-spacing: 1px;
}

.about-btns {
  padding-top: 3%;
  text-align: center;
}

.about-btns .btn {
  font-size: 1rem;
  font-weight: 600;
  height: 50px;
  width: 300px;
  border-radius: 0px;
  letter-spacing: 0.1rem;
}

.ab-light {
  color: black;
  background-color: white;
  outline-color: black;
  outline-width: 1px;
  outline-style: solid;
  margin: 10px 20px;
  padding: 10px;
}

.ab-dark {
  color: white;
  background-color: black;
  outline-color: white;
  outline-width: 1px;
  outline-style: solid;
  margin: 10px 20px;
  padding: 10px;
}

@media (max-width: 576px) {

  .a-title {
    font-size: 1.3rem;
  }

  .a-description {
    font-size: 1rem;
  }

  .profile-pic {
    width: 90%;
  }

}

@media (min-width: 577px) and (max-width: 992px) {

  .profile-pic {
    width: 60%;
  }

}

/*==================================About End==================================*/

/*==================================Resume Start==================================*/

.resume {
  background-color: var(--light-bg-gray);
  padding: 80px 0px;
}

.resume-titles {
  text-align: center;
}

.r-title {
  color: var(--primary-color);
  letter-spacing: 2px;
  font-size: var(--primary-header-text-size);
  font-weight: var(--primary-header-text-weight);
}

.r-description {
  font-weight: var(--secondary-header-text-weight);
  font-size: var(--secondary-header-text-size);
}

.r-title-2 {
  margin: 20px;
  color: var(--primary-color);
  letter-spacing: 2px;
}

.sm-content-1 {
  text-align: right;
}

.edu-title-l {
  font-weight: 700;
}

.edu-description-l {
  font-size: small;
  font-style: italic;
}

.circle {
  width: 50px;
  height: 50px;
  position: relative;
  background-color: black;
  border-radius: 100%;
}

.circle-icon {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
}

.sm-content-2 {
  text-align: left;
}

.sm-content-icons {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.edu-title-r {
  margin-bottom: 10px;
}

.edu-description-r {
  font-weight: 400;
  line-height: 150%;
  font-style: italic;
}

.fa-arrow-right-long {
  visibility: hidden;
  position: absolute;
}

@media (max-width:576px) {

  .r-title {
    font-size: 1.3rem;
  }

  .r-description {
    font-size: 1rem;
  }

  .r-title-2 {
    font-size: 1.3rem;
  }

  .sm-content-1 {
    text-align: center;
  }

  .circle {
    width: 100%;
    border-radius: 5px;
    margin: 10px;
    background-color: #21242d;
    opacity: 50%;
  }


  .fa-arrow-right-long {
    visibility: visible;
    position: relative;
    margin-right: 10px;
  }

  .edu-title-r {
    font-size: 1rem;
    font-weight: 700;
  }

  .edu-description-r {
    font-size: 1rem;
  }
}

@media (min-width:577px) and (max-width:992px) {

  .sm-content-1 {
    text-align: center;
  }

  .circle {
    width: 100%;
    border-radius: 5px;
    margin: 10px;
    background-color: #21242d;
  }

  .edu-title-r {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
  }

  .edu-description-r {
    font-size: 1rem;
  }
}

/*==================================Resume End==================================*/

/*==================================Portfolio Start==================================*/

.portfolio {
  padding: 80px 0px;
}

.portfolio-titles {
  text-align: center;
}

.p-title {
  color: var(--primary-color);
  letter-spacing: 2px;
  font-weight: var(--primary-header-text-weight);
  font-size: var(--primary-header-text-size);
}

.p-description {
  font-size: var(--secondary-header-text-size);
  font-weight: var(--secondary-header-text-weight);
}

.p-description-2 {
  font-size: var(--secondary-header-text-size);
  margin-top: 15px;
}

@media (max-width:576px) {

  .p-title {
    font-size: 1.3rem;
  }

  .p-description {
    font-size: 1rem;
  }

  .p-description-2 {
    font-size: 1rem;
  }

}

@media (min-width:577px) and (max-width:992px) {}


/*==================================Portfolio End==================================*/

/*==================================Contact Start==================================*/

.contact {
  background-color: var(--dark-bg-color);
}

.contact-1 {
  color: white;
  padding: 80px 0px 40px 0px;
  text-align: center;
}

.contact-titles {
  padding-bottom: 30px;
}

.c-title {
  color: var(--primary-color);
  letter-spacing: 5px;
  font-size: var(--primary-header-text-size);
  font-weight: var(--primary-header-text-weight);
}

.c-description {
  font-size: var(--secondary-header-text-size);
  font-weight: var(--secondary-header-text-weight);
}

.c-description-2 {
  margin-top: 15px;
  font-style: italic;
  font-size: var(--secondary-header-text-size);
  font-weight: 100;
  opacity: 75%;
}

form {
  margin: none;
}

.input-field {
  background-color: var(--dark-bg-color);
  color: white;
  border: none;
  width: 60%;
  outline: none;
  padding-bottom: 10px;
  padding-left: 10px;
  margin: 8px 0px;
  border-bottom: 2px solid var(--primary-color);
}

.submitform {
  padding: 15px;
  margin-top: 20px;
  color: white;
  font-weight: 600;
  width: 60%;
  letter-spacing: 2px;
  outline: none;
  border: none;
  background-color: var(--primary-color);
}

.submitform:hover {
  background-color: var(--secondary-color);
}

@media (max-width:576px) {
  .c-title {
    font-size: 1.3rem;
  }

  .c-description {
    font-size: 1rem;
  }

  .c-description-2 {
    font-size: 1rem;
  }

  .input-field {
    font-size: 1rem;
    width: 95%;
    padding-bottom: 5px;
    padding-left: 5px;
    margin: 8px 0px;
    border-bottom: 1px solid var(--primary-color);
  }

  .submitform {
    padding: 10px;
    margin-top: 10px;
    width: 95%;
  }

}

@media (min-width:577px) and (max-width:992px) {

  .input-field {
    font-size: 1rem;
    width: 80%;
    padding-bottom: 5px;
    padding-left: 5px;
    margin: 8px 0px;
    border-bottom: 1px solid var(--primary-color);
  }

  .submitform {
    padding: 10px;
    margin-top: 10px;
    width: 80%;
  }
}




/*==================================Contact End==================================*/

/*==================================Contact-2 Start==================================*/

.contact-2 {
  padding-bottom: 30px;
  text-align: center;
}

.c-icon {
  margin: 10px;
  font-size: 30px;
  color: white;
}

.c-c-title {
  padding: 5px;
  font-weight: bolder;
  color: var(--primary-color);
}

.c-c-description {
  user-select: text;
  color: ghostwhite;
  font-weight: 200;
  letter-spacing: 1px;
}

@media (max-width:576px) {
  
.c-icon{
  font-size: 25px;
}

  .c-c-description{
    font-size: 0.8rem;
  }
}

@media (min-width:577px) and (max-width:992px){

  .c-icon{
    font-size: 25px;
  }

  .c-c-description{
    font-size: 0.8rem;
  }
}


/*==================================Conatct-2 End==================================*/

/*==================================Footer Start==================================*/

.footer {
  padding-bottom: 20px;
  background-color: var(--dark-bg-color);
}

.f-text {
  padding: 15px 0 0 0;
  color: gray;
  letter-spacing: 1px;
  text-align: center;
  font-size: 1rem;
}

.f-name {
  color: white;
}

.f-icons {
  padding: 10px 0 10px 0;
  text-align: center;
}

.f-icons a {
  font-size: large;
  margin: 0 10px;
  color: white;
}

.f-icons a:hover {
  color: var(--bs-cyan);
}

@media (max-width:576px) {
  .f-text{
    padding: 5px 0px 0px 0px;
    font-size: 0.8rem;
  }

}

@media (min-width:577px) and (max-width:992px){
  .f-text{
    font-size: 1rem;
  }
  
}


/*==================================Footer End==================================*/